@font-face {
  font-family: "Poppins";
  font-weight: 300;
  font-display: swap;
  src: url("@/assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  font-display: swap;
  src: url("@/assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-display: swap;
  src: url("@/assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-display: swap;
  src: url("@/assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  font-display: swap;
  src: url("@/assets/fonts/Poppins-Black.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-cyan-300;
  border-radius: 5px;
}
body {
  @apply selection:bg-cyan-500 selection:text-cyan-50;
}
img {
  @apply select-none;
}
